
<section>
  <div class="row">
    {{#each articles}}
      <div class="col s6" data-article-id="{{_id}}">
        <a href="{{link}}">
          <img class="response-img" src="{{img}}" alt="{{title}}">
        </a>
        <a href="{{link}}">
          <h3 class="truncate">{{title}}</h3>
        </a>
        <p>{{source}}</p>
      </div>
    {{/each}}
  </div>
</section>
