
<!-- articles -->
<section>
  <div class="row">
    <div class="col s10 m6 l11 offset-s1 offset-m3 offset-l1">
      {{#each articles}}
      <div class="article-item col s12 l4 offset-l1">
        <div class="article-wrapper" data-article-id="{{_id}}">
          <div class="article-img">
            <img src="{{img}}" alt="{{title}}">
          </div>
          <div class="col s12 article-title">
            <h3 class="truncate">{{title}}</h3>
            <p>{{source}}<i class="material-icons">favorite_border</i></p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>

<!-- sign in modal -->
<div class="sign-in-modal">
  <div class="row">
    <i class="material-icons">clear</i>
  </div>
  <div class="row">
    <h6>Sign in or sign up to save your favorite articles and add comments!</h6>
  </div>
  <div class="row">
    <div class="input-field">
      <input id="email" type="text">
      <label for="email">Email</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field">
      <input id="password" type="password">
      <label for="password">Password</label>
    </div>
  </div>
  <div class="row">
    <button type="button" class="btn" id="sign-in">Sign In</button>
    <button type="button" class="btn" id="sign-up">Sign Up</button>
  </div>
  <p class="error-message"></p>
</div>

<!-- view article & comment -->
<div class="row">
  <div class="col s10 m6 l11 article-large">
    <div class="article-item col s12 l6 offset-l3">
      <div class="article-wrapper" data-article-id="">
        <div class="article-img article-img-large">
          <img src="http://2.design-milk.com/images/2016/12/Design_Milk_Design_for_Industry_Tokyo_FI-460x250.jpg">
        </div>
        <div class="col s12 article-title">
          <a href="#">
            <h4 class="truncate">City in a Suitcase: Designer Daisuke Kitagawa Offers Insight into Tokyo’s Culture</h4>
          </a>
          <p>Design Milk <i class="material-icons">favorite_border</i></p>
        </div>
      </div>
    </div>
    <!-- Comments -->
    <div class="comment col s12 l6 offset-l3">
      <div class="row">
          <h6>username</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
          <p>12/15/16</p>
      </div>
    </div>
    <div class="comment col s12 l6 offset-l3">
      <div class="row">
          <h6>username</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
          <p>12/15/16</p>
      </div>
    </div>
    <div class="add-comment col s12 l6 offset-l3">
      <div class="row">
        <h4>Talk about it</h4>
        <div class="input-field">
          <textarea id="comment" class="materialize-textarea" type="text"></textarea>
          <label for="comment">Add a comment</label>
        </div>
      </div>
      <div class="row">
        <button type="button" class="btn" id="submit-comment">Submit</button>
      </div>
    </div>
  </div>
</div>
